<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Share Your Epic Gaming Footage</h1>
    <%= link_to 'Upload Now', '#', class: 'btn btn-success' %>
    <br />
    <br />
    <h2>Clips of the Week</h2>
    <%= link_to 'Vote Here', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>